body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main {
    margin-bottom: 20px;
}

#inputMsg {
    margin-bottom: 15px;
}

#chats {
    width: 34%;
    height: 500px;
    margin: 0 auto;
    overflow: auto;
}
